<html>
<head>
	<meta charset="UTF-8"/>
	<link rel="stylesheet" type="text/css" href="/style/forms.css">
</head>

<body>
	<div class="form">
		<form action="torneo/nuevo" method="post">
			<p>Nombre: </p>
			<input type='text' name='tournamentName'/><br>
			<br><p>Fecha de inicio: </p>
			<input type="date" name="startDate"><br>
			<br><p>Fecha de finalización: </p>
			<input type="date" name="endDate"><br>			
			<br><br><input type='submit' value='Enviar'/>
			<input type="hidden" name="_csrf" value="{{token}}"/>
		</form>
	</div>
</body>
</html>