<html>
<head>
    <title>Leaguesports</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
</head>
<body>
    <header class = "header">
        <div class = "container logo-nav-container">
            <a class="logo"> LEAGUESPORTS</a>     
            <nav class="menu">
                <ul>
                    <li id="noticias"><a href="/">Principal</a></li>
                    <li id="torneos"><a href="/torneos">Torneos</a></li>
                    <li id="equipos"><a href="/equipos">Equipos</a></li>
                    <li id="jugadores"><a href="/jugadores">Jugadores</a></li>
                    <li id="productos"><a href="/productos">Productos</a></li>
                </ul>
            </nav>
            <a href="/sesion" class="login"> Iniciar sesión</a> 
        </div>
    </header>
    <main class="main container">

 

