<html>
<head>
    <title>Leaguesports</title>
    <link rel="stylesheet" type="text/css" href="/style/index.css">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <base href="/">
</head>
<body>
    <header class = "header">
        <div class = "container logo-nav-container">
        	<img class="icon" src="/images/lol.jpg" alt="Icono">
            <a class="logo" href="/"> LEAGUESPORTS</a>     
            <nav class="menu">
                <ul>                   
                    <li id="torneos"><a href="/torneos">Torneos</a></li>
                    <li id="equipos"><a href="/equipos">Equipos</a></li>
                    <li id="jugadores"><a href="/jugadores">Jugadores</a></li>
                    <li id="productos"><a href="/productos">Productos</a></li>
                </ul>
            </nav>
            {{#user_logged}}
                <a href="/profile"> {{user_name}} </a> 
            {{/user_logged}}
            {{^user_logged}}
                <a href="/login"> Login </a>
            {{/user_logged}}
        </div>
    </header>
    <main class="main container">

 

