{{>header}}

<div class="grid-container">
  <div class="grid-item"> 
  <h1>Torneos</h1>
     <p>Sección para crear y visualizar torneos.</p><br>
     <a href="/torneos">
  		<img src="/images/tournaments.png" alt="Torneos">
	 </a><br>
	 <br>
  </div>
  <div class="grid-item">
  <h1>Equipos</h1>
     <p>Sección para añadir, modificar o borrar equipos.</p><br>
     <a href="/equipos">
  		<img src="/images/teams.png" alt="Equipos">
	 </a><br>
	 <br>
  </div>
  <div class="grid-item">
  <h1>Jugadores</h1>
     <p>Sección para añadir, modificar o borrar jugadores.</p><br>
     <a href="/jugadores">
  		<img src="/images/players.png" alt="Jugadores">
	 </a><br>
	 <br>
  </div>  
  <div class="grid-item">
  <h1>Productos</h1>
  <p>Sección para compra de productos y entradas.</p><br>
     <a href="/productos">
  		<img src="/images/products.png" alt="Productos">
	 </a><br>
	 <br>
  </div>
</div>

{{>footer}}