{{>header}}

<h1 id="players">JUGADORES</h1>
<ul id="playerlist">
	{{#playerlist}}
	<li>
		<div class ="nickname">
			<a href="jugador/{{id}}">{{nickName}} </a>
		</div>
		<div class="playerdetails">
			<p>{{firstName}}</p>
			<p>{{lastName}}</p>
		</div>		
	</li>		
	{{/playerlist}}
</ul>
<nav>
	<div class="pages">
	{{#hasprevious}}
		<a href="/jugadores?page={{previous}}">< ANTERIOR</a>
	{{/hasprevious}}
	{{^hasprevious}}
		<b></b>
	{{/hasprevious}}
	{{#hasnext}}
		<a href="/jugadores?page={{next}}">SIGUIENTE ></a>
	{{/hasnext}}
	{{^hasnext}}
		<b></b>
	{{/hasnext}}
	</div>
	<div class="control">
		<a href="/nuevojugador">CREAR JUGADOR</a><br>
	</div>
</nav>

{{>footer}}