{{>header}}

<h1 id="players">{{player.nickName}}</h1>

<div id="playerinfo">
    <p>Nombre: {{player.firstName}}</p>
    <p>Apellido: {{player.lastName}}</p>
    <p>Edad: {{player.age}}</p>
    <p>Género: {{player.genre}}</p>
    <p>Nacionalidad: {{player.nationality}}</p>
</div>

<div id="playerteam">
{{#player.team}}
    <a href="/equipo/{{id}}">{{teamName}}</a>
    {{#isOwner}}
        <a href="/private/jugador/{{player.id}}/borrar/equipo"> - Eliminar equipo</a>
    {{/isOwner}}    
{{/player.team}}
{{^player.team}}{{#user_logged}}
    <form action="/private/jugador/{{player.id}}/nuevo/equipo" method="post">
        <select name="teamId" id="playerTeam">
            {{#teams}}
                <option value="{{id}}">{{teamName}}</option>
            {{/teams}}
        </select>
    <input type='submit' value='Seleccionar equipo'/>
    <input type="hidden" name="_csrf" value="{{token}}"/>
    </form>
{{/user_logged}}{{/player.team}}
</div>     
    
<nav>
	<div class="control">
        {{#user_admin}}<a href="/private/jugador/{{player.id}}/actualizar">Editar jugador</a>{{/user_admin}}
        <a href="/jugadores">Volver a la lista de jugadores</a>
        {{#user_admin}}<a href="/private/jugador/{{player.id}}/borrar">Eliminar jugador</a>{{/user_admin}}      
	</div>
     
</nav>

{{>footer}}