{{>header}}

<h1 id="products">PRODUCTOS</h1>
<ul id="productlist">
	{{#productList}}
	<li>
		<div class ="productname">
			<a href="producto/{{id}}">{{productName}}</a>
		</div>	
		<div class="productdetails">
			<p> {{price}}$</p>
		</div>	
	</li>
	{{/productList}}
</ul>
<nav>
	<div class="pages">
	{{#hasprevious}}
		<a href="/productos?page={{previous}}">< ANTERIOR</a>
	{{/hasprevious}}
	{{^hasprevious}}
		<b></b>
	{{/hasprevious}}
	{{#hasnext}}
		<a href="/productos?page={{next}}">SIGUIENTE ></a>
	{{/hasnext}}
	{{^hasnext}}
		<b></b>
	{{/hasnext}}
	</div>
	<div class="control">
		<a href="/nuevoproducto">CREAR PRODUCTO</a><br>
	</div>
</nav>    

{{>footer}}