{{>header}}

<h1 id="teams">{{team.teamName}}</h1>

<div id="teaminfo">
    <p>Años: {{team.years}}</p><br>
</div>

<div id="teamplayers">
    <h2>Jugadores</h2>
    <ul>
    {{#team.players}}
        <li>
            <a href="/jugador/{{id}}">{{nickName}}</a>
        </li>
    {{/team.players}}
    </ul>
</div>
        
        <nav>
            <div class="control">
                {{#isOwner}}<a href="/equipo/{{team.id}}/editar">Editar equipo</a>{{/isOwner}} 
                <a href="/equipos">Volver a la lista de equipos</a>
                {{#isOwner}}<a href="/equipo/{{team.id}}/borrar">Eliminar equipo</a>{{/isOwner}} 
            </div>
        </nav>    
                   
{{>footer}}