{{>header}}

<h1 id="teams">EQUIPOS</h1>
<ul id="teamlist">
    {{#teamlist}}
	<li>
		<div class ="teamname">
			<a href="equipo/{{id}}">{{teamName}}</a><br>
		</div>		
	</li>	
	{{/teamlist}}
</ul>	
<nav>
	<div class="pages">
	{{#hasprevious}}
		<a href="/equipos?page={{previous}}">Anterior</a>		
	{{/hasprevious}}
	{{^hasprevious}}
		<b></b>
	{{/hasprevious}}
	{{#hasnext}}
		<a href="/equipos?page={{next}}">Siguiente</a>
	{{/hasnext}}
	{{^hasnext}}
		<b></b>
	{{/hasnext}}
	</div>
	<div class="control">
		<a href="/private/equipo/crear">Crear equipo</a>
	</div>
</nav>
{{>footer}}