{{>header}}

<h1 id="tournaments">{{tournament.name}}</h1>
<div id="tournamentdates">
    <b>Fecha inicio: {{tournament.starting_date}}</b>
    <b>Fecha Fin: {{tournament.finishing_date}}</b>
</div>
<div id="participants">
    <h2>Participantes</h2>
    <ul>
        {{#tournament.participants}}
            <li>
                <a href="/equipo/{{id}}">{{teamName}}</a>    
                <a href="/torneo/{{tournament.id}}/borrarequipo/{{id}}"> - Eliminar </a>
            </li>
        {{/tournament.participants}}
    </ul>

    <form action="/torneo/{{tournament.id}}/añadirparticipante" method="post">
		<label for="nuevoparticipante">Añadir participante</label>
        <select name="participantId" id="nuevoparticipante">
            {{#nonparticipants}}
                <option value="{{id}}">{{teamName}}</option>
            {{/nonparticipants}}
        </select>
		<input type='submit' value='Enviar'/>
        <input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
</div>
<div id="matches">
    <h2>Partidos</h2>
    <table>
        <tr>
            <th> </th>
            <th>Equipo 1 </th>
            <th>Equipo 2 </th>
            <th>Resultados</th>
            <th>Fecha</th>
            <th> </th>
        </tr>
        {{#games}}
        <tr>
            <td>{{-index}}</td>
            <td><a href="/equipo/{{localTeam.id}}">{{localTeam.teamName}}</a> </td>        
            <td><a href="/equipo/{{visitorTeam.id}}">{{visitorTeam.teamName}}</a></td>
            <td>{{gameResults}}</td>
            <td>{{gameDate}}</td>
            <td><a href="/torneo/{{tournament.id}}/borrarpartido/{{number}}">Eliminar</a></td> 
        </tr>
        {{/games}}
    </table>

    <form action="/torneo/{{tournament.id}}/añadirpartido" method="post">
		<label for="equipo1">Equipo 1</label>
        <select name="localTeamId" id="equipo1">
            {{#tournament.participants}}
                <option value="{{id}}">{{teamName}}</option>
            {{/tournament.participants}}            
        </select>
        <label for="equipo2">Equipo 2</label>
        <select name="visitorTeamId" id="equipo2">
            {{#tournament.participants}}
                <option value="{{id}}">{{teamName}}</option>
            {{/tournament.participants}}             
        </select>
        <label for="date">Fecha</label>
        <input type='date' name="gameDate" min="{{tournament.starting_date}}" max="{{tournament.finishing_date}}" value="{{tournament.starting_date}}">
		<input type='submit' value='Enviar'/>
        <input type="hidden" name="_csrf" value="{{token}}"/>
	</form>
</div>
<nav>
	<div class="control">
        <a href="/torneos">Volver a la lista de torneos</a>
        <a href="/torneo/{{tournament.id}}/csv">Recibir tabla de partidos</a>
        <a href="/torneo/{{tournament.id}}/borrar">Borrar torneo</a>
	</div>
</nav>

{{>footer}}