{{>header}}

<h1>{{tournament.name}}</h1>
    <br>
    <h4>Fecha inicio: {{tournament.starting_date}}</h4>
    <h4>Fecha fin: {{tournament.finishing_date}}</h4>
    <h2>Participantes</h2>
    <ul>
        {{#tournament.participants}}
            <li><a href="/equipo/{{id}}">{{teamName}}</a>    <a href="/torneo/{{tournament.id}}/borrarequipo/{{id}}"> Eliminar </a></li>
        {{/tournament.participants}}
    </ul>
    <br>
    <form action="/torneo/{{tournament.id}}/añadirparticipante" method="post">
		<label for="nuevoparticipante">Añadir participante</label>
        <select name="participantId" id="nuevoparticipante">
            {{#nonparticipants}}
                <option value="{{id}}">{{teamName}}</option>
            {{/nonparticipants}}
        </select>
		<input type='submit' value='Enviar'/>
	</form>
    <br>
	<h2>Partidos</h2>
    <table>
        <tr>
            <td>
                <th>Equipo 1 </th>
                <th>Equipo 2 </th>
                <th>Resultados</th>
                <th>Fecha</th>
            </td>
        </tr>
        {{#games}}
        <tr>
            <td>{{-index}}</td>
            <td><a href="/equipo/{{localTeam.id}}">{{localTeam.teamName}}</a> </td>        
            <td><a href="/equipo/{{visitorTeam.id}}">{{visitorTeam.teamName}}</a></td>
            <td>{{gameResults}}</td>
            <td>{{gameDate}}</td>
            <td><a href="/torneo/{{tournament.id}}/borrarpartido/{{number}}">Eliminar</a></td> 
        </tr>
        {{/games}}
    </table>
    <br>
    <form action="/torneo/{{tournament.id}}/añadirpartido" method="post">
		<label for="equipo1">Equipo 1</label>
        <select name="localTeamId" id="equipo1">
            {{#tournament.participants}}
                <option value="{{id}}">{{teamName}}</option>
            {{/tournament.participants}}            
        </select>
        <label for="equipo2">Equipo 2</label>
        <select name="visitorTeamId" id="equipo2">
            {{#tournament.participants}}
                <option value="{{id}}">{{teamName}}</option>
            {{/tournament.participants}}             
        </select>
        <input type='date' name="gameDate" min="{{tournament.starting_date}}" max="{{tournament.finishing_date}}" value="{{tournament.starting_date}}">
		<input type='submit' value='Enviar'/>
	</form>
    <br>
    <a href="/torneos">Volver a la lista de torneos</a>
    <br>
    <a href="/torneo/{{tournament.id}}/borrar">Borrar torneo</a>
    {{>footer}}