{{>header}}

<h1 id="tournaments">TORNEOS</h1><br>
<ul id="tournamentlist">
	{{#tournamentList}}
	<li>
		<div class ="tournamentname">
			<a href="torneo/{{id}}">{{name}} </a>
		</div>
	</li>	
	{{/tournamentList}}
</ul>
<nav>
	<div class="pages">
	{{#hasprevious}}
		<a href="/torneos?page={{previous}}">< ANTERIOR</a>	
	{{/hasprevious}}
	{{^hasprevious}}
		<b></b>
	{{/hasprevious}}
	{{#hasnext}}
		<a href="/torneos?page={{next}}">SIGUIENTE ></a>
	{{/hasnext}}
	{{^hasnext}}
		<b></b>
	{{/hasnext}}
	</div>
	<div class="control">
		<a href="/nuevotorneo">Crear torneo</a>
	</div>
</nav>	

{{>footer}}