{{>header}}

<h1>{{tournament.name}}</h1>
    <br>
    <h2>Participantes</h2>
    <ul>
        {{#tournament.participants}}
            <li><a href="equipo_{{id}}">{{teamName}}</a></li>
        {{/tournament.participants}}
    </ul>
    <br>
    <form action="torneo_{{tournament.id}}/añadirparticipante" method="post">
		<label for="nuevoparticipante">Añadir participante</label>
        <select name="participantId" id="nuevoparticipante">
            {{#nonparticipants}}
                <option value="{{id}}">{{teamName}}</option>
            {{/nonparticipants}}
        </select>
		<input type='submit' value='Enviar'/>
	</form>
    <br>
	<h2>Partidos</h2>
    <ul>
        {{#tournament.games}}
            <li>{{-index}}: <a href="equipo_{{localTeam.id}}">{{localTeam.teamName}}</a> vs <a href="equipo_{{visitorTeam.id}}">{{visitorTeam.teamName}}</a></li>
        {{/tournament.games}}
    </ul>
    <br>
    <form action="torneo_{{tournament.id}}/añadirpartido" method="post">
		<label for="equipo1">Equipo 1</label>
        <select name="localTeamId" id="equipo1">
            {{#tournament.participants}}
                <option value="{{id}}">{{teamName}}</option>
            {{/tournament.participants}}            
        </select>
        <label for="equipo2">Equipo 2</label>
        <select name="visitorTeamId" id="equipo2">
            {{#tournament.participants}}
                <option value="{{id}}">{{teamName}}</option>
            {{/tournament.participants}}             
        </select>
		<input type='submit' value='Enviar'/>
	</form>
    <br>
    <a href="/torneos">Volver a la lista de torneos</a>
    
    {{>footer}}